<p>update-dish works!</p>

<div class="container">
    <tr><input type="text" value="{{productUpdate?.id}}" disabled></tr>
    <tr><input type="text" value="{{productUpdate?.name}}"></tr>
    <tr><input type="text" value="{{productUpdate?.desc}}"></tr>
    <tr><select>
            <option selected>{{productUpdate?.type}}</option>
            <option>Antipasto</option>
            <option>Primo</option>
            <option>Secodndo</option>
            <option>Dolce</option>
        </select></tr>
    <tr><input type="text" value="{{productUpdate?.price | currency:'€'}}"></tr>
    </div>
    <button > update </button>